@font-face {
  font-family: "Prompt";
  src: url("Prompt-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Italic.ttf");
  font-style: 'italic';
  font-weight: 400;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-ThinItalic.ttf");
  font-style: 'italic';
  font-weight: 100;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-ExtraLightItalic.ttf");
  font-style: 'italic';
  font-weight: 200;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-LightItalic.ttf");
  font-style: 'italic';
  font-weight: 300;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-MediumItalic.ttf");
  font-style: 'italic';
  font-weight: 500;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-SemiBoldItalic.ttf");
  font-style: 'italic';
  font-weight: 600;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-BoldItalic.ttf");
  font-style: 'italic';
  font-weight: 700;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-ExtraBoldItalic.ttf");
  font-style: 'italic';
  font-weight: 800;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Prompt";
  src: url("Prompt-Black.ttf");
  font-style: 'italic';
  font-weight: 900;
}